# Numérico e utilidades
numpy==1.26.4

# PyTorch CPU (mais leve)
torch==2.2.1+cpu
torchvision==0.17.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# YOLO (CPU)
ultralytics==8.0.196

# Processamento de imagem (leve)
opencv-python-headless==4.9.0.80
albumentations==1.4.0
imgaug

# Utilidades
python-dotenv==1.0.0
PyYAML==6.0

# Interface (PyQt5 básico)
PyQt5==5.15.9
PyQt5-sip==12.12.1
